<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhy.yuban.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="com.zhy.yuban.model.domain.Team">
            <id property="teamId" column="teamId" jdbcType="BIGINT"/>
            <result property="teamName" column="teamName" jdbcType="VARCHAR"/>
            <result property="captainId" column="captainId" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="maxNumber" column="maxNumber" jdbcType="INTEGER"/>
            <result property="remainNumber" column="remainNumber" jdbcType="INTEGER"/>
            <result property="teamPassword" column="teamPassword" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        teamId,teamName,captainId,
        description,maxNumber,remainNumber,
        teamPassword,createTime,updateTime,
        isDelete
    </sql>
</mapper>
